/*
 * debug
 */
 
/* table, td */
/* { */
/* 	border: 1px solid red; */
/* } */

 
 /*
  * End Debug
  */


body
{
	margin: 0px;
	overflow: hidden;
	background-color: black;
        color: #cccccc;
        max-width: none;
        width: auto;
        min-width: 100%;

}

#caseworklist td
{
	
	border-top: 1px solid gray;
        text-overflow:clip;
        padding-right: 15px;
        white-space: nowrap;
}

#bugWorkList td
{
	
	border-top: 1px solid gray;
        text-overflow: clip;
        white-space: nowrap;
	padding-right: 15px;
}

.banner 
{
        font-family:'APHont Bold', sans-serif;
	font-weight: 900;
	font-size: 28px;
        letter-spacing: 1px;
        background-color: #000000;
        color: #cccccc;
        text-align: center;
        max-width: none;
        width: auto;
        min-width: 100%;
        white-space: nowrap;
        text-overflow: clip;
}

#caseworklist 
{
        font-family:'APHont Bold', sans-serif;
	border-bottom: 1px solid gray;
	font-weight: 900;
	font-size: 28px;
        letter-spacing: 1px;
	table-layout: fixed;
	border-collapse:collapse;
	margin: 0px;
        max-width: none;
        width: auto;
        min-width: 100%;
}

#bugWorkList 
{
        font-family:'APHont Bold', sans-serif;
	border-bottom: 1px solid gray;
	font-weight: 900;
	font-size: 129%;
        letter-spacing: 1px;
	table-layout: fixed;
	border-collapse:collapse;
	margin: 0px;
        max-width: none;
        width: auto;
        min-width: 100%;
}

#lastrefreshpanel
{
	float: right;
	background-color: #f8f864;
	color: black;
	border: 1px solid grey;
}

table.fixed { table-layout:fixed; }


#charts
{
	margin: 0px;
	padding: 0px;
	border-collapse:collapse;
	text-align: center;
}

.borderedchartstd
{
	padding: 3px;
/* 	border: 2px solid black; */
	font-size: 3em;
	font-weight: bold;
        letter-spacing: 1px;
/* 	font-family:cursive; */
	/*font-family: arial, verdana, sans-serif;*/
        font-family:'APHont Bold', sans-serif;
	table-layout: fixed;
	width: 100%;
}

.dangerous_sla_td
{
	color: red;
	text-decoration: blink;
		  animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.s1_sla_td {
        text-decoration: none;
	color: #ff8d00;
}

.s2_sla_td {
        text-decoration: none;
	color: #ffdb00;
}

.s3_sla_td {
        text-decoration: none;
        color: #cccccc;
}

.updated_in_progress_td {
        text-decoration: none;
	color: #00ccff;
        text-decoration: blink;
        animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}


.case_td
{
	
}

.gaugechart
{
	width: 680px;
	height: 440px;
	display: inline-block;
}

.message {
    left:20%;
    position: relative;
    -webkit-animation-name: translation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: translation;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes translation {
    0% {left:20%;}
    50%   {left:-20%;}
    100%   {left:20%;}
}

/* Standard syntax */
@keyframes translation {
    0% {left:20%;}
    50%   {left:-20%;}
    100%   {left:20%;}
}

